/* Main container */
.stMainBlockContainer {
    color: rgb(49, 51, 63);
    color-scheme: light;
    box-sizing: border-box;
    width: 100%;
    padding: 7rem 2rem 12rem;
    max-width: inherit;
}

.stApp {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Chat history section */
.stMarkdown {
    display: none; /* Hide initially */
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    flex-grow: 1;
    overflow-y: auto;
}

.stMarkdown:has(code) {
    display: block; /* Show only when code content is present */
}

.stMarkdown code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 3px;
}

/* Fixed input area at the bottom */
.stForm {
    position:sticky;
    bottom: 0;
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Text area for code input */
.stTextArea textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 50px;
    height: min-content;
    max-height: 200px;
}

/* Dropdowns for input/output selection */
.stSelectbox>div>div>select {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Convert button */
.stButton>button {
    background-color: #0078d4;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.stButton>button:hover {
    background-color: #005bb5;
}

/* Sidebar */
.stSidebar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.stSidebar stImage {
    position: fixed;
    bottom: 5;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: inherit;
    text-align: center;
    border-top: 1px solid #e1e4e8;
}